<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Исследование связей между {{field1}} и {{field2}}</title>
</head>
<body>
    Таблица сопряжённости между {{field1}} и {{field2}}
    <table border="1">
        <tr>
            <th></th>
            {% for i in contingency.columns  %}
                <th><label>{{ i }}</label></th>
            {% endfor %}
        </tr>
        {% for index, row in contingency.iterrows() %}
            <tr>
                <th><label>{{ index }}</label></th>
                {% for i in row %}
                    <th>{{ "{:.4n}".format(i|float()) }}</th>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <h1>Значение статистики: {{ statistic }}</h1>
    {% if expected is none%}
        <label>Таблица ожидаемых значений для выбранного метода отсутствует</label>
    {% else %}
        Таблица ожидаемых значений
        <table border="1">
            <tr>
                <th></th>
                {% for i in contingency.columns  %}
                    <th><label>{{ i }}</label></th>
                {% endfor %}
            </tr>
            {% for index, row in contingency.iterrows() %}
                <tr>
                    <th><label>{{ index }}</label></th>
                    {% for i in expected[loop.index - 1] %}
                        <th>{{ "{:.4n}".format(i|float()) }}</th>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <button onclick="window.location.href = './';">
        Назад
    </button>
</body>
</html>