<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Лабораторная работа 2-2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <button onclick="window.location.href = './insert';">
        Добавление новых наблюдений
    </button>
    <button onclick="window.location.href = './analyze?field1=Gender&field2=SchoolDegree';">
        Gender, SchoolDegree
    </button>
    <button onclick="window.location.href = './analyze?field1=Gender&field2=JobWherePref';">
        Gender, JobWherePref
    </button>
    <button onclick="window.location.href = './analyze?field1=JobWherePref&field2=LanguageAtHome';">
        JobWherePref, LanguageAtHome
    </button>
    <button onclick="window.location.href = './analyze?field1=EmploymentField&field2=LanguageAtHome';">
        EmploymentField, LanguageAtHome
    </button>
    <button onclick="window.location.href = './analyze?field1=EmploymentStatus&field2=LanguageAtHome';">
        EmploymentStatus, LanguageAtHome
    </button>
</body>
</html>