<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавление данных</title>
</head>
<body>
    <form action="/insert" method="post">
        EmploymentField <input type="text" name="EmploymentField"><br>
        EmploymentStatus <input type="text" name="EmploymentStatus"><br>
        Gender <input type="text" name="Gender"><br>
        LanguageAtHome <input type="text" name="LanguageAtHome"><br>
        JobWherePref <input type="text" name="JobWherePref"><br>
        SchoolDegree <input type="text" name="SchoolDegree"><br>
        Income <input type="text" name="Income"><br>
        <input type="submit">
    </form>
    <h1>{{ message }}</h1>
    <button onclick="window.location.href = './';">
        Назад
    </button>
</body>
</html>