<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавление данных</title>
</head>
<body>
    <form action="/insert" method="post">
        {% for key, value in selected.items() %}
            <select name='{{ key }}'>
                <option selected disabled>{{ key }}</option>
                {% for i in value %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select><br>
        {% endfor %}
        EmploymentField <input type="text" name="EmploymentField"><br>
        LanguageAtHome <input type="text" name="LanguageAtHome"><br>
        Income <input type="text" name="Income"><br>
        <input type="submit">
    </form>
    <h1>{{ message }}</h1>
    <button onclick="window.location.href = './';">
        Назад
    </button>
</body>
</html>